.card {
    width: 320px;
    height: 415px;
}

.card--mutant {
    height: 415px;
    width: 320px;
    border-radius: 10px;
    margin-Left: 55px;
}

@media screen and (max-width: 750px) {
    .card--mutant {
        margin-Left: 0px;
        margin-top: 30px;
    }
}