#dexscreener-embed {
    width: 90%;
    padding-bottom: 125%;
}

@media(min-width:1400px) {
    #dexscreener-embed {
        padding-bottom: 65%;
    }
}

#dexscreener-embed iframe {
    position: absolute;
    width: 80%;
    height: 90%;
    top: 100px;
    left: 16%;
    border: 0;
}