body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  zoom: 75%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.css-mygxps-MuiButtonBase-root-MuiListItemButton-root {
  border-radius: 12px !important;
}

*{
  text-transform: uppercase!important;
  font-weight: 750!important;
}